#header {
	background-color:#000;
}

#header .logo {
	color:#efefef;	
}

#header .navigation li a, #header .title {
	color:#888;
}

#mainarea .navigation .menu, #mainarea .navigation .switcher span {
	background-color:#008ce5;
	background-color:#efefef;
}

#mainarea .navigation .menu ul li a {
	color:#000;
}

#mainarea .navigation .menu ul li ul li a {
	color:#000;
}

#mainarea .navigation .menu ul li input[type="radio"]:checked ~ label a {
	font-weight:900;
}

#mainarea .navigation .menu .icon {
	padding:5px 0 5px 40px;
}

.icon-dashboard {
	background:url(images/style.png) 0 -100px scroll no-repeat transparent;
}

.icon-dashboard:hover {
	background-position:-241px -100px;
}

.icon-tasks {
	background:url(images/style.png) 0 -150px scroll no-repeat transparent;
}

.icon-tasks:hover {
	background-position:-241px -150px;
}

.icon-candidates {
	background:url(images/style.png) 0 -200px scroll no-repeat transparent;
}

.icon-candidates:hover {
	background-position:-241px -200px;
}

.icon-calendar {
	background:url(images/style.png) 0 -250px scroll no-repeat transparent;
}

.icon-calendar:hover {
	background-position:-241px -250px;
}

.icon-messages {
	background:url(images/style.png) 0 -298px scroll no-repeat transparent;
}

.icon-messages:hover {
	background-position:-241px -298px;
}

.icon-vacancies {
	background:url(images/style.png) 0 -350px scroll no-repeat transparent;
}

.icon-vacancies:hover {
	background-position:-241px -350px;
}

.icon-money {
	background:url(images/style.png) 0 -400px scroll no-repeat transparent;
}

.icon-money:hover {
	background-position:-241px -400px;
}

.icon-reports {
	background:url(images/style.png) 0 -450px scroll no-repeat transparent;
}

.icon-reports:hover {
	background-position:-241px -450px;
}

.icon-security {
	background:url(images/style.png) 0 -500px scroll no-repeat transparent;
}

.icon-security:hover {
	background-position:-241px -500px;
}

.icon-maintenance {
	background:url(images/style.png) 0 -550px scroll no-repeat transparent;
}

.icon-maintenance:hover {
	background-position:-241px -550px;
}

.icon-content {
	background:url(images/style.png) 0 -600px scroll no-repeat transparent;
}

.icon-content:hover {
	background-position:-241px -600px;
}

.icon-settings {
	background:url(images/style.png) 0 -50px scroll no-repeat transparent;
}

.icon-settings:hover {
	background-position:-241px -50px;
}

input[type="text"], input[type="password"], select, textarea, select {
	background: #FEFEFE;
}

#mainarea .rightBox {
	background:#f8f8f8;
	height:100%;
}