#header {
	background-color:#000;
}

#header .logo {
	color:#efefef;	
}

#header .navigation li a, #header .title {
	color:#888;
}

#mainarea .navigation .menu, #mainarea .navigation .switcher span {
	background-color:#008ce5;
/* 	background-color:#e0e0e0; */
}

#mainarea .navigation .menu ul li a {
	color:#000;
}

#mainarea .navigation .menu ul li ul li a {
	color:#000;
}

#mainarea .navigation .menu ul li input[type="radio"]:checked ~ label a {
	font-weight:900;
}

#mainarea .navigation .menu .icon {
	padding:5px 0 5px 40px;
}

.icon-dashboard {
	background:url(images/style.png) 0 -97px scroll no-repeat transparent;
}

.icon-dashboard:hover {
	background-position:-241px -97px;
}

.icon-tasks {
	background:url(images/style.png) 0 -147px scroll no-repeat transparent;
}

.icon-tasks:hover {
	background-position:-241px -147px;
}

.icon-candidates {
	background:url(images/style.png) 0 -197px scroll no-repeat transparent;
}

.icon-candidates:hover {
	background-position:-241px -197px;
}

.icon-calendar {
	background:url(images/style.png) 0 -247px scroll no-repeat transparent;
}

.icon-calendar:hover {
	background-position:-241px -247px;
}

.icon-messages {
	background:url(images/style.png) 0 -297px scroll no-repeat transparent;
}

.icon-messages:hover {
	background-position:-241px -297px;
}

.icon-vacancies {
	background:url(images/style.png) 0 -347px scroll no-repeat transparent;
}

.icon-vacancies:hover {
	background-position:-241px -347px;
}

.icon-money {
	background:url(images/style.png) 0 -397px scroll no-repeat transparent;
}

.icon-money:hover {
	background-position:-241px -397px;
}

.icon-reports {
	background:url(images/style.png) 0 -447px scroll no-repeat transparent;
}

.icon-reports:hover {
	background-position:-241px -447px;
}

.icon-security {
	background:url(images/style.png) 0 -497px scroll no-repeat transparent;
}

.icon-security:hover {
	background-position:-241px -497px;
}

.icon-maintenance {
	background:url(images/style.png) 0 -547px scroll no-repeat transparent;
}

.icon-maintenance:hover {
	background-position:-241px -547px;
}

.icon-content {
	background:url(images/style.png) 0 -597px scroll no-repeat transparent;
}

.icon-content:hover {
	background-position:-241px -597px;
}

.icon-settings {
	background:url(images/style.png) 0 -47px scroll no-repeat transparent;
}

.icon-settings:hover {
	background-position:-241px -47px;
}