body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-size:100%;
	font-family: Verdana,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin:0;
	padding:0;
	color:#333;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size:1.25em;
}

h3 {
	font-size:1.125em;
}

h4 {
	font-size:1em;
}

h5 {
	font-size:.875em;
}

#header, #mainarea {
	float:left;
	width:100%;
	display:inline-block;
}

#header {
	height:48px;
}

#header .logo {
	padding:15px 0 0 0;
	font-family:Rachana,Georgia,Times,serif;
}

#header .title {
	padding:15px 0 0 0;
}

#header .navigation {
	width:99%;
	padding:0 1% 0 0;
	text-align:right;
}

#header .navigation, #header .navigation li {
	display:inline-block;
}

#header .navigation li a {
	text-decoration:none;
	display:inline-block;
	margin:5px 0 25px 0;
	padding:0 0 0 15px;
	font-size:.875em;
}

#mainarea .navigation, #mainarea .maincontent {
	display:inline-block;
	float:left;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

.navigation, .navigation .menu, .hiddenMenu .maincontent {
	transition: width .9s;
	-moz-transition: width .9s;
	-webkit-transition: width .9s;
	-o-transition: width .9s;	
}

.hiddenMenu .navigation, .hiddenMenu .navigation .menu, .maincontent {
	transition: width .6s;
	-moz-transition: width .6s;
	-webkit-transition: width .6s;
	-o-transition: width .6s;	
}

.navigation {
	width:20%;
}

.maincontent {
	width:80%;
}

.hiddenMenu .navigation {
	width:2%;
}

.hiddenMenu .maincontent {
	width:98%;
}

.navigation .menu {
	width:92%;
	overflow:hidden;
}

.navigation .switcher {
	width:8%;
}

.hiddenMenu .navigation .menu {
	width:0;
}

.hiddenMenu .navigation .switcher {
	width:100%;
}

#mainarea .navigation .menu {
	display:inline-block;
	float:left;
	height:100%;
}

#mainarea .navigation .switcher {
	display:inline-block;
	float:right;
	cursor:pointer;
}

#mainarea .navigation .switcher span {
	text-align:center;
	display:inline-block;
	float:right;
	width:100%;
	height:60px;
}

.navigation .switcher span {
	background:url(images/style.png) 5px 21px scroll no-repeat transparent;
}

.hiddenMenu .navigation .switcher span {
	background-position:-235px 21px;
}

#mainarea .navigation .menu ul, #mainarea .navigation .menu ul li {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}

#mainarea .navigation .menu ul li {
	margin:0 10px;
	padding:20px 0 0 0;
}

#mainarea .navigation .menu ul li ul li {
	padding:6px 0 6px 30px;
}

#mainarea .navigation .menu ul li ul {
	font-size:.75em;
	height:0;
	padding:0;
	overflow:hidden;
	transition: height .6s;
	-moz-transition: height .6s;
	-webkit-transition: height .6s;
	-o-transition: height .6s;	
}

#mainarea .navigation .menu ul li.open ul {
	height:90px;
}

#mainarea .navigation .menu ul li a {
	text-decoration:none;
	text-transform:capitalize;
	cursor:pointer;
	display:inline-block;
	font-size:0.875em;
}

#mainarea .leftBox, #mainarea .rightBox {
	display:inline-block;
	float:left;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
}

#mainarea .leftBox {
	width:60%;
}

#mainarea .rightBox {
	width:40%;
}

#mainarea .grid {
	display:block;
}

#mainarea .gridSearch, #mainarea .gridCommands, #mainarea .gridContent, #mainarea .gridHeader, #mainarea .gridBody, #mainarea .gridFooter {
	display:inline-block;
	float:left;
	width:100%;
}

#mainarea .gridSearch {
	text-align:right;
}

#mainarea .gridCommands {
	padding:10px 0;
}

#mainarea .gridHeader {
	margin:10px 0 0 0;
	background-color:#fafafa;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
}

#mainarea .gridHeader .column {
	border-right: 1px solid #dfdfdf;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box	
}

#mainarea .gridHeader .column:last-child {
	border-right:0 none;
}

#mainarea .gridHeader .column span {
	display:inline-block;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	overflow:hidden;
}

#mainarea .gridHeader .column .sort-name {
	width:80%;
}

#mainarea .gridContent {
	font-size:.75em;
}

#mainarea .grid {
	margin:10px 0 0 0;
}

#mainarea .gridBody .gridRecord {
	cursor:text;
	display:inline-block;
	float:left;
	width:100%;
	border-bottom:1px solid #f2f2f2;
	padding:6px 0;
}

#mainarea .gridFooter {
	padding:20px 0 0 0;
	font-size:.875em;
}

#mainarea .gridFooter ul, #mainarea .gridFooter ul li {
	display:inline-block;
	margin:0;
	padding:0;
	list-style:none;
}

#mainarea .gridFooter ul {
	float:right;
}

#mainarea .gridFooter ul li {
	padding:0 10px 0 0;
}

.column {
	display:inline-block;
	margin:0 1%;
	float:left;
}

.grid1of20 {
	width:3%;
}

.grid1of10 {
	width:8%;
}

.grid3of20 {
	width:13%;
}

.grid2of10 {
	width:18%;
}

.grid5of20 {
	width:23%;
}

.grid3of10 {
	width:28%;
}

.grid7of20 {
	width:33%;
}

.grid4of10 {
	width:38%;
}

.grid9of20 {
	width:43%;
}

.grid5of10 {
	width:48%;
}

.grid6of10 {
	width:58%;
}

.grid7of10 {
	width:68%;
}

.grid8of10 {
	width:78%;
}

.grid9of10 {
	width:88%;
}

.grid10of10 {
	width:98%;
}

.grid11of10 {
	width:8%;
}

.rightCorners {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;	
}

.leftCorners {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;	
}

input[type="button"], input[type="submit"], input[type="reset"], .silverGradient {
	cursor:pointer;
	padding:3px 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:1px solid #ccc;
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6) );
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-repeat: no-repeat;
	-pie-background: linear-gradient(#ffffff, #e6e6e6);
	behavior: url(/skins/default/images/pie.htc);		
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .silverGradient:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -6px;
	-webkit-transition: background-position 0.2s linear;
	-moz-transition: background-position 0.2s linear;
	-ms-transition: background-position 0.2s linear;
	-o-transition: background-position 0.2s linear;
	transition: background-position 0.2s linear;
	behavior: url(/skins/default/images/pie.htc);	
}

input[type="text"], input[type="password"], textarea {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px inset #F8F8F8;
	padding: 3px 0;	
}

select {
	padding: 3px 0;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	border-color:#F8F8F8;
}

label, div.label {
	display:inline-block;
	width:100%;
	padding:0 0 10px 0;
}

label span, div.label span {
	display:inline-block;
	float:left;
	text-align:right;
	width:28%;
	margin:0 1%;
	padding-top:3px;
}

label input[type="text"], label input[type="password"], label textarea, label select, label .field, div.label .field {
	display:inline-block;
	float:left;
	text-align:left;
	width:63%;
	margin:0 1%;
}

div.buttons input:first-child {
	margin-left:31%;
}

.sort-icon {
	cursor:pointer;
	float: right;
	width: 20%;
	height: 16px;
	background: url(images/style.png) -32px -650px scroll no-repeat transparent;
}

.desc {
	background: url(images/style.png) -16px -650px scroll no-repeat transparent;
}

.asc {
	background: url(images/style.png) 0 -650px scroll no-repeat transparent;
}

.rightBox .detail {
	font-size:.875em;
	display:inline-block;
	float:left;
	width:100%;
	padding:10px 0 20px 0;
	overflow:hidden;
	height:10px;
	transition: height .9s;
	-moz-transition: height .9s;
	-webkit-transition: height .9s;
	-o-transition: height .9s;
}

.rightBox .spacer {
	display:inline-block;
	height:110px;
	width:100%;
}

.rightBox .open {
	height:390px;
	overflow-y:auto;
	overflow-x:hidden;
}

.rightBox .detail h3 {
	cursor:pointer;
	padding:0 5% 5px 10%;
	width:90%;
	margin:0 0 10px 0;
	display:inline-block;
	background:url(images/style.png) 15px -733px scroll no-repeat transparent;
}

.rightBox .open h3 {
	background:url(images/style.png) 15px -757px scroll no-repeat transparent;
}
