body {
	width:100%;
	height:100%;
	font-size:100%;
}

#header, #navigation, #content {
	position:fixed;
}

#header {
	top:0;
	right:0;
	bottom:92%;
	left:0;
	z-index:2;
}

#navigation {
	top:8%;
	bottom:8%;
	left:0;
	z-index:3;
}

#navigation .content {
	height:100%;
	width:180px;
	float:left;
	background:#efefef;
	overflow:hidden;
}

#navigation .switcher {
	height:100%;
	width:18px;
	float:right;
}

#navigation input[type="checkbox"] {
	visibility:hidden;
	width:0;
	height:0;
}

#navigation .switcher span {
	text-align:center;
	display:inline-block;
	position:relative;
	top:40%;
	width:100%;
	height:60px;
	background:url(images/style.png) 2px 21px scroll no-repeat #efefef;
}

#navigation input[type="checkbox"]:checked ~ .switcher span {
	background:url(images/style.png) -236px 21px scroll no-repeat #efefef;
}

#navigation input[type="checkbox"]:checked ~ .content {
	width:0;
}

#content {
	top:8%;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
}

.rightRounded {
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;	
}

.widthTransition {
	transition: width 1s;
	-moz-transition: width 1s;
	-webkit-transition: width 1s;
	-o-transition: width 1s;	
}