body {
	width:100%;
	height:100%;
	font-size:100%;
	font-family: Verdana,Arial,sans-serif;
	font-family:Rachana,sans-serif;
}

#header, #navigation, #content {
	position:fixed;
}

#header {
	top:0;
	right:0;
	bottom:93%;
	left:0;
	z-index:2;
	min-height:40px;
}

#header>div {
	display:inline-block;
}

#header .logo {	
	width:20%;
}

#header .logo h1, #header .title h2 {
	padding:5px 0;
	margin:0;
	font-weight:normal;
}

#header .title {
	width:30%;
}

#header .topbar {
	width:48%;
	text-align:right;
}

#header .topbar ul, #header .topbar ul li {
	display:inline-block;
}

#header .topbar ul li a {
	text-decoration:none;
	display:inline-block;
	margin:5px 0 25px 0;
	padding:0 0 0 15px;
	font-size:.875em;
}

#navigation {
	top:8%;
	bottom:1%;
	right:80%;
	left:0;
	z-index:3;
	min-width:225px;
}

#navigation .content {
	display:inline-block;
	width:92%;
	height:100%;
	float:left;
	overflow:hidden;
}

#navigation .switcher {
	display:inline;
	height:100%;
	width:8%;
	float:left;
	margin-left:-1px;
	cursor:pointer;
}

#navigation .switcher span {
	text-align:center;
	display:inline-block;
	position:relative;
	top:40%;
	width:100%;
	height:60px;
	background:url(images/style.png) 2px 21px scroll no-repeat transparent;
}

#navigation > input[type="checkbox"], #navigation .content ul li input[type="radio"] {
	display:none;
}

#menuswitch:checked ~ .switcher span {
	background-position:-236px 21px;
}

#menuswitch:checked ~ .content {
	width:0;
}

#navigation .content ul, #navigation .content ul li {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}

#navigation>.content>ul>li {
	margin:0 20px;
	padding:20px 0 0 0;
}

#navigation>.content>ul>li>ul>li{
	padding:6px 0 6px 40px;
}

#navigation .content ul li ul {
	font-size:.75em;
	height:0;
	padding:0;
	overflow:hidden;
}

#navigation .content ul li input[type="radio"]:checked ~ ul {
	height:90px;
}

#navigation .content ul li a {
	text-decoration:none;
	text-transform:capitalize;
	cursor:pointer;
	display:inline-block;
	font-size:.875em;
}

#content {
	top:8%;
	right:0;
	bottom:0;
	left:2%;
	z-index:1;
	overflow:auto;
}

#content .leftBox, #content .rightBox {
	position:fixed;
	top:8%;
	bottom:0;
}

#content .leftBox {
	right:40%;
	left:0;
}

#content .rightBox {
	right:0;
	left:60%;
}

.column {
	display:inline-block;
	padding:0 1%;
}

.grid1of20 {
	width:3%;
}

.grid1of10 {
	width:8%;
}

.grid3of20 {
	width:13%;
}

.grid2of10 {
	width:18%;
}

.grid5of20 {
	width:23%;
}

.grid3of10 {
	width:28%;
}

.grid7of20 {
	width:33%;
}

.grid4of10 {
	width:38%;
}

.grid9of20 {
	width:43%;
}

.grid5of10 {
	width:48%;
}

.grid6of10 {
	width:58%;
}

.grid7of10 {
	width:68%;
}

.grid8of10 {
	width:78%;
}

.grid9of10 {
	width:88%;
}

.grid10of10 {
	width:98%;
}

.grid11of10 {
	width:8%;
}

.rightCorners {
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;	
}

.widthTransition {
	transition: width .9s;
	-moz-transition: width .9s;
	-webkit-transition: width .9s;
	-o-transition: width .9s;	
}

.heightTransition {
	transition: height .6s;
	-moz-transition: height .6s;
	-webkit-transition: height .6s;
	-o-transition: height .6s;	
}